$button-border-color: #FF4444;
$button-color: #FF4444;


body main .menu-container{
  width: 100%;
  .menu{
    top: 1px;
    left: 1px;
    .menu-button-text,
    .menu-button-icon,
    .menu-button{
      border: none;
      color: $button-color;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      transition: all 0.5s;
      position: relative;
      width: 30px;
      height: 20px;
      border: 1px solid $button-border-color;
      background-color: transparent;
      margin: 2px;
      float: left;
    }
    .menu-button-icon{
      font-size: 12px;
    }
    .menu-button-text{
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
    }
    .menu-button{
      font-weight: bold;
      font-size: 16px;
      &.m-char > *{
        position: relative;
        top: -1px;
      }
      &.big-char{
        font-size: 12px;
        > *{
          position: relative;
          top: 1px;
        }
      }
    }
  }
}
body.full{
  .menu-container{
    top: $header-height;
  }
}

@include sm{
  body main .menu-container{
    position: absolute;
    top: $header-height-init;
    left: 0;
    z-index: 1;
    .menu{
      position: absolute;
      top: 2px;
      left: 2px;
    }
  }
}

@include md{
  body main .menu-container{
    width: 100%;
    .menu{
      top: 2px;
      left: 2px;
      .menu-button-text,
      .menu-button-icon,
      .menu-button{
        width: 40px;
        height: 25px;
        margin: 2px;
      }
      .menu-button-icon{
        font-size: 12px;
        .fa{
          top: -4px;
        }
      }
      .menu-button-text{
        font-weight: bold;
        font-size: 12px;
      }
      .menu-button{
        &.m-char > *{
          top: 0;
        }
      }
    }
  }
}

@include sm-full-height{
  body.full,
  body {
    main .menu-container{
      top: auto;
      bottom: 0;
      .menu{
        top: auto;
        bottom: 2px;
      }
    }
  }
}
