body main .menu-container{
  width: 100%;
  .menu{
    top: 2px;
    left: 2px;
    .menu-button-text,
    .menu-button-icon,
    .menu-button{
      border: none;
      color: #00897B;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      transition: all 0.5s;
      position: relative;
      width: 50px;
      height: 30px;
      border: 2px solid #00897B;
      background-color: transparent;
      margin: 2px;
      float: left;
      //clear: right;
      > *{
        vertical-align: middle;
      }
    }
    .menu-button-icon{
      font-size: 12px;
      padding: 6px 5px 2px 5px;
      .fa{
        position: relative;
        top: -2px;
      }
    }
    .menu-button-text{
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      padding: 6px 5px 8px 5px;
    }
    .menu-button{
      font-weight: bold;
      font-size: 16px;
    }
  }
}
body.full{
  .menu-container{
    top: $header-height;
  }
}

@include sm{
  body main .menu-container{
    position: absolute;
    top: $header-height-init;
    left: 0;
    z-index: 1;
    .menu{
      position: absolute;
      top: 2px;
      left: 2px;
    }
  }
}


@include full-height-sm{
  body.full,
  body {
    main .menu-container{
      top: auto;
      bottom: 0;
      .menu{
        top: auto;
        bottom: 2px;
      }
    }
  }
}

@media only screen and (min-width: 640px) and (max-width: 960px){
  .output-mode{
    .menu-container{
      // right: 0;
      .menu{
        .menu-button-text,
        .menu-button-icon,
        .menu-button{
          //font-size: 1px;
          // width: 0px;
          // padding-left: 0;
          // padding-right: 0;
          // border: none;
         }
      }
    }
  }
}
