.output-container{
  #output{
    background-color: transparent;
    color: #000000;
    border: 1px solid #BBBBBB;
    font-family: monospace;
    padding: 5px;
    box-sizing: border-box;
    padding-right: 0px;
    height: 100%;
  }
}
