.output-container{
  #output{
    background-color: transparent;
    color: #000000;
    border: 1px solid #BBBBBB;
    font-family: monospace;
    padding: 5px;
    box-sizing: border-box;
    padding-right: 0px;
    height: 100%;
    overflow: auto;
    .placehoder{
      line-height: 2rem;
      color: #AAF;
      .procesar{
        padding: 4px 4px 2px 4px;
        background-color: #AAF;
        color: #33F;
      }

    }
  }
}
