<div class="content-wrapper">
  <div class="inner clearfix">
    <section>
      <h3>
        Bienvenido
      </h3>
      <p>
        Aparemente es la primera vez que nos visitas.
      </p>
      <p class="text-justify">
        El validador de derivaciones proporciona un entorno para la práctica
        efectiva y el reconocimiento preciso de los sistemas de deducción
        natural, permitiendo demostrar la validez de razonamientos,
        la equivalencia de fórmulas a partir de derivaciones mutuas y la
        inconsistencia de conjuntos de proposiciones. A partir  del validador
        de derivaciones el estudiante puede controlar la aplicación correcta
        de las reglas introducción y eliminación de la lógica proposicional
      </p>
      <p>
        Puedes consultar la página de <a href="help.html">documentación</a> del validador.
      </p>
      <p>
        O acceder a la <a href="index.html">aplicación</a>.
      </p>
    </section>
  </div>
</div>
