<div id="content-wrapper">
  <div class="inner clearfix">
    <section id="main-content">
      <h3>
        <a id="derivaciones-help" class="anchor" href="#derivaciones-help" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>
        Comprobación de derivaciónes
      </h3>
      <p>
        El validador de derivaciones permite asegurar 
        el uso correcto de reglas de derivación.
      <br/>
        Para utilizarlo se deberá ingresar en el cuadro 
        de entrada un ejemplo de derivación 
        en texto plano. como por ejemplo
      </p>
      <pre><!--(bake help/code.txt)--></pre>
      <p>
        Y hacer click en el boton <code class="bold">comprobar</code>
      </p>
      <img class="asssert" src="asset/help/comprobar.png" />
      <p>
        para ver el siguiente resultado
      </p>
      <img src="asset/help/parsed.png" />
      <p>
        Para volver al modo de edición basta con hacer
        click en el area de entrada.
      </p>
      <h3>Botones de ayuda</h3>
      <p>
        La aplicación provee un conjunto de botones de
        ayuda para ingresar símbolos que no se encuentran
        en el teclado físico.
      </p>
      <img src="asset/help/help-buttons.png" />
      <h3>Detección de errores</h3>
      <p>
        En caso de encontrar errores, la aplicación los remarcará,
        para que el usuario pueda detectar el problema.
      </p>
      <img src="asset/help/error.png" />
    </section>
  </div>
</div>