<div class="menu-container">
  <div class="menu">
    <button type="button" id="process" class="menu-button-icon" title="process">
      <span class="fa fa-check"></span>
    </button>
    <!--(bake ../template/button.html symbol="&and;"  write="Λ" key="f")-->
    <!--(bake ../template/button.html symbol="&or;"   write="V" key="d")-->
    <!--(bake ../template/button-icon.html klass="arrow-right" write="→" key="e")-->
    <!--(bake ../template/button.html symbol="&perp;" write="⊥" key="r")-->
    <!--(bake ../template/button-text.html symbol="&lt;&lt;" write="<<")-->
    <!--(bake ../template/button-text.html symbol="p" write="p")-->
    <!--(bake ../template/button-text.html symbol="q" write="q")-->
    <button type="button" id="more" class="menu-button-icon" title="process" onclick="more()">
      <span class="fa fa-plus"></span>
    </button>
  </div>
</div>