.ast{ 
  padding: 0px; 
  margin: 0px; 
  .procedure{
    >.comment{
      color: #0AA;
    }
    >.signature{
      >.name{
        font-weight: bold;
        color: #606;
      }
      >.param-name{
        display: block-inline;
        &.active:hover{
          background: rgba(63, 127, 63, 0.3);
        }
      }
    }
    &.active{
      >.signature{
        background: rgba(0, 0, 255, 0.3);
      }
    }
    &.terminated{
      >.block{
        >.block-end{
          background: rgba(0, 0, 255, 0.3);
        }
      }
    }
  }
  .block{
    >.block-start,
    >.block-end{
      color: #066;
    }
    
  }
  .invocation{
    >.name{
      color: #606;
    }
    >.arg-number{
      color: #066;
    }
    >.arg-identifier{
      color: #080;
    }
    &.active{
      background: rgba(0, 0, 255, 0.3);
    }
  }
  .conditional{
    >.condition-row{
      >.conditional-if,
      >.conditional-then{
        color: #008;
      }
      >.negation{
        color: #066;
      }
      >.condition{
        color: #080;
      }
    }
    >.conditional-else{
      color: #008;
    }
    &.active{
      >.condition-row{
        background: rgba(0, 0, 255, 0.3);
      }
    }
    &.terminated{
      >.block{
        >.block-end{
          background: rgba(0, 0, 255, 0.3);
        }
      }
    }
  }
  .action{
    .action-name{
      color: #080;
    }
    &.active{
      background: rgba(0, 0, 255, 0.3);
    }
  }
  .repeat{
    &.active{
      .repeat-start{
        background: rgba(0, 0, 255, 0.3);
      }
    }
    &.terminated{
      .end-row{
        background: rgba(0, 0, 255, 0.3);
      }
    }
  }
}

.number{
  color: #066;
}
